<h1>Portfolio Items</h1>
<%= link_to "Create New Item", new_portfolio_path %>
<div>
  <% @portfolio_items.each do |item| %>
  <div>
    <div><%= item.title %> | <%= link_to "Edit", edit_portfolio_path(item) %></div>
    <div><%= item.subtitle %></div>
    <div><%= item.body %></div>
    <%=  image_tag item.thumb_image if item.thumb_image? %>
  </div>
  <% end %>
</div>