<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@site_title} | #{@page_title}" %></title>
    <meta name="description" content="<%= @meta_description %>">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= render 'shared/nav' %> 
    
    <%= yield %>
    
    <% if session[:source] && session[:source] != '' %>
      <div>
        Thanks for visiting me from <%= session[:source] %>
      </div>
    <% end %>
  </body>
</html>
